LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

MOTION_AGENT_NAME=motion-detector
MOTION_MIN_AREA=2500
MOTION_FRAME_COOLDOWN_SEC=3.0
MOTION_BLUR_SIZE=21

RMQ_URL=amqp://admin:admin@localhost:5672
RMQ_EVENTS_EXCHANGE=eyenest.events
RMQ_AI_QUEUE=ai.events.queue

MOTION_ON_RK=motion.on
MOTION_OFF_RK=motion.off
MOTION_DETECTED_RK=motion.detected
